{% extends "base.html" %}
{% block body %}


<div class="container my-3">
    <h2>Add a Todo</h2>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="tittle" class="form-label">Todo Tittle</label>
            <input type="text" class="form-control" id="tittle" name="tittle" aria-describedby="emailHelp">
            <div class="mb-3">
                <label for="desc" class="form-label">Todo Description</label>
                <input type="text" class="form-control" id="desc" name="desc">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>

<div class="container my-3">
    <h2>Your Todos</h2>
    {% if alltodo|length == 0%}
    <div class="alert alert-danger" role="alert">
        No Todos Found !!!
        Add your first todo now ....
    </div>

    {%else%}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Tittle</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in alltodo %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.tittle}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date}}</td>
                <td><a href="/update/{{todo.sno}}"><button type="button"
                            class="btn btn-outline-dark btn-sm">Update</button></a>
                    <a href="/delete/{{todo.sno}}"><button type="button"
                            class="btn btn-outline-dark btn-sm">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>


{% endblock body %}